* {
  margin: 0px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  /* border: 1px solid white; */
}

.App {
  display: flex;
  justify-content: center;
  align-items: end;
  height: 100dvh;
  background: black;
  flex-direction: column;
}

h1 {
  color: whitesmoke;
  font-size: 30px;
  margin-top: -20px;
}

#wave {
  animation: move 2s linear infinite;
}

@keyframes move {
  to {
    transform: rotate(180deg);
  }
}
